@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
:root{
    font-family:'Kanit', sans-serif;;
}

.caixaControle{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    width: 80%;
}
.novaTarefa{
    width: 70%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.novaTarefa input{
    margin-left: 35%;
    width: 80%;
    height: 40%;
    padding: 2%;
    border-radius:8px;
    background-color:#E2466b;
    color: #ffffff;
}

.novaTarefa button{
    font-size: 32px;
    padding-bottom: 12px;
    margin-left: 0.5%;
    margin-top: 0.2%;
    width: 3.5vw;
    height:50px;
}